body {
  padding: 50px;
}

a {
  color: #456;
}

a:hover {
  text-decoration: none;
}

.img-circle {
  border-radius: 10%;
}

.title {
  font-size: 26px;
  font-weight:600;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.header h1 {
  font-weight: 200;
  font-family: 'Merriweather';
}
